<!DOCTYPE html>
<html ng-app="store">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<style type="text/css">
	.ng-invalid.ng-dirty {
		border-color: #FA787E;
	}
	.ng-valid.ng-dirty {
		border-color: #78FA79;
	}
	</style>
</head>
<body ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products">
			<h3>
				{{ product.name }}
				<em class="pull-right">{{ product.price | currency }}</em>
				<img ng-src="{{ product.images[0].full }}" />
				<ul>
					<li ng-repeat="image in product.images">
						<img ng-src="{{ image.thumb }}" />
					</li>
				</ul>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active: panel.isSelected(1)}">
							<a href="" ng-click="panel.selectTab(1)">Description</a>
						</li>
						<li ng-class="{active: panel.isSelected(2)}">
							<a href="" ng-click="panel.selectTab(2)">Specification</a>
						</li>
						<li ng-class="{active: panel.isSelected(3)}">
							<a href="" ng-click="panel.selectTab(3)">Reviews</a>
						</li>
					</ul>
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<p>{{product.description}}</p>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Specification</h4>
						<blockquote>Not yet</blockquote>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						<blockquote ng-repeat="review in product.reviews">
							<b>Stars: {{ review.stars }}</b>
							{{review.body}}
							<cite>- by: {{ review.author }} on {{ review.createdOn | date }}</cite>
						</blockquote>

						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
							ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
							novalidate>
							<blockquote>
								<b>Stars: {{ reviewCtrl.review.stars }}</b>
								{{ reviewCtrl.review.body }}
								<cite>by: {{ reviewCtrl.review.author }}</cite>
							</blockquote>
							<select ng-model="reviewCtrl.review.stars" required>
								<option value="1">1 star</option>
								<option value="2">2 stars</option>
								<option value="3">3 stars</option>
								<option value="4">4 stars</option>
								<option value="5">5 stars</option>
							</select>
							<textarea ng-model="reviewCtrl.review.body"></textarea>
							<label>by:</label>
							<input ng-model="reviewCtrl.review.author" type="email" required/>
							<div>reviewForm is {{reviewForm.$valid}}</div>
							<input type="submit" value="Submit" />
						</form>
					</div>
				</section>
			</h3>
		</li>
	</ul>
	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
