<!DOCTYPE html>
<html ng-app="store">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products">
			<h3>
				{{ product.name }}
				<em class="pull-right">{{ product.price | currency }}</em>
				<img ng-src="{{ product.images[0].full }}" />
				<ul>
					<li ng-repeat="image in product.images">
						<img ng-src="{{ image.thumb }}" />
					</li>
				</ul>
			</h3>
		</li>
	</ul>
	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
